:root {
  --leaderboardBgColor: rgb(225, 225, 225);
}

.leaderboards {
  width: 100%;
  height: 100%;
  min-height: 2250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--leaderboardBgColor);
}

.leaderboards > * {
  width: min(700px, 100vw);
}

.leaderboards li {
  list-style: none;
}

.leaderboards-header {
  display: flex;
  justify-content: space-around;
  flex: 1 1 0;
  width: min(700px, 100vw);
  max-height: 72px;
  min-height: 72px;
}

.leaderboard-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderboards .header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.6rem;
  font-weight: bolder;
  width: max-content;
  padding: 12px 30px 6px 30px;
  background-color: rgb(250, 250, 250);
  border: 0.5px solid black;
  border-radius: 25px;
  user-select: none;
}

.leaderboards .empty {
  width: 45px;
}

.leaderboard-info {
  background-color: var(--navbar-background-color);
  border-radius: 50px;
  border: 1px solid black;
  height: 45px;
  width: 45px;
  cursor: pointer;
}

.leaderboard-info > img {
  padding: 5px;
  transition: all 0.2s;
}

.leaderboard-info > img:hover {
  padding: 3.5px;
  transition: all 0.2s;
}

.leaderboard-info:hover {
  filter: brightness(1.2);
}

.leaderboards-container {
  display: flex;
  flex-direction: column;
}

.leaderboard-tabs {
  display: flex;
  padding: 0 9px;
  overflow-x: scroll;
  justify-content: flex-start;
}

.leaderboard-tab {
  border: 1px solid rgb(80, 60, 0);
  transform: skew(-20deg);
  height: 50px;
  min-width: 110px;
  font-family: Inter, sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  background-color: rgb(156, 123, 2);
  color: white;
  transition: 0.2s all;
  box-shadow: 5px 0px rgb(156, 123, 2);
}

li:last-child .leaderboard-tab {
  box-shadow: none;
}

.leaderboard-tab:hover {
  filter: brightness(1.15);
  transition: all 0.3s;
}

.active:hover {
  filter: brightness(1.3);
  font-size: 2.2rem;
}

.leaderboard-tab > * {
  transform: skew(20deg);
}

.leaderboard-tab.active {
  filter: brightness(1.3);
  transition: 0.2s all;
  font-size: 2.2rem;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  font-size: 1.9rem;
  border: 0.5px solid black;
}

.leaderboard-caption {
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
  font-family: Verdana, Inter, sans-serif;
  padding: 10px 0 8px 0;
  border-bottom: 0.5px solid black;
  background-color: rgb(250, 250, 250);
}

.leaderboard-row:nth-child(even) {
  background-color: rgb(228, 235, 255);
  border-top: 0.5px solid rgb(155, 155, 255);
  border-bottom: 0.5px solid rgb(155, 155, 255);
}
.leaderboard-row:first-child {
  border-top: 0.5px solid rgb(0, 0, 0);
}

.leaderboard-row,
.leaderboard-labels {
  display: flex;
  align-items: center;
  column-gap: 24px;
  height: 32px;
}

.leaderboard-labels {
  background-color: rgb(220, 220, 220);
  font-size: 2rem;
}

.leaderboard-row {
  animation: leaderboardDrop 0.3s;
  background-color: rgb(248, 248, 248);
}

@keyframes leaderboardDrop {
  0% {
    height: 0px;
    opacity: 0;
  }
}

.player-rank,
.player-rank-label {
  display: flex;
  justify-content: center;
  margin-left: 12px;
  width: 60px;
  padding-right: 12px;
  border-right: 1px solid black;
}

.player-average,
.player-average-label {
  display: flex;
  justify-content: center;
  width: min(35vw, 250px);
  margin-left: auto;
}

/*Leaderboard Modal */
.leaderboard-modal {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.leaderboard-modal-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 360px;
  height: max-content;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.8rem;
  text-align: left;
  padding-left: 6px;
  padding-bottom: 22px;
  background-color: var(--modal-panel-background-color);
  border: var(--modal-border);
  border-radius: var(--modal-border-radius);
  color: black;
  top: 2vh;
}

.leadboard-modal-body > * {
  margin: 6px 0;
}

.leaderboard-modal-top {
  display: flex;
  justify-content: flex-end;
  margin: 2px 0px 0px 0px;
}

.leaderboard-modal-top button {
  user-select: none;
}

.close-leaderboard-modal {
  all: unset;
  height: max-content;
  font-size: 2rem;
  cursor: pointer;
  font-family: sans-serif;
  margin-right: 4px;
  padding: 8px 12px;
  position: relative;
}

.leaderboard-modal .headline {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.6rem;
  font-weight: bolder;
  width: 100%;
  margin-top: -20px;
  display: flex;
  justify-content: center;
}

.leaderboard-modal .headline .headline-text {
  border-bottom: 2px solid black;
  padding: 0 8px;
}

.leadboard-modal-body {
  margin: 3.5px 12px 3.5px 12px;
  padding: 0 6px;
  font-size: 1.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmation-btn {
  height: 40px;
  margin-top: 12px;
  width: 280px;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 2.2rem;
  cursor: pointer;
  background-color: var(--navbar-background-color);
}

.confirmation-btn:hover{
  filter: brightness(0.8);
}

.random-mode-link {
  text-underline-offset: 6px;
  color: blue;
}

.swiping-left-icon {
  display: none;
}

/* Medium Styles */
@media screen and (max-width: 640px) {
  .swiping-left-icon {
    display: none;
    height: 24px;
    position: relative;
    top: 12px;
    right: 4px;
  }
}

/* Mobile Styles */
@media screen and (max-width: 440px) {
  .leaderboards-header .empty {
    display: none;
  }
}
