:root {
  --navbar-background-color: rgb(80, 90, 126);
  --navbar-background-hover: rgb(83, 93, 132);
  --navbar-text-color: rgb(255, 255, 255);
}

.navigation-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: max-content;
  width: 100%;
  font-size: 1.6rem;
  justify-content: space-between;
  user-select: none;
  background-color: var(--navbar-background-color);
  color: var(--navbar-text-color);
}

.navigation-bar li {
  list-style: none;
}

.game-modes {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.6rem;
  margin-left: 10px;
  border: 1px solid black;
  border-top: none;
  border-left: none;
  width: max-content;
}

.navigation-bar .game-modes-list {
  display: flex;
}

.game-modes li {
  list-style: none;
  border: 1px solid black;
  text-align: center;
}

.game-modes li:first-child {
  border-left: 0.5px solid black;
}

.game-modes li:last-child {
  border-right: 0.5px solid black;
}

.navigation-bar a {
  display: block;
  text-decoration: none;
  line-height: 30px;
  height: max-content;
  width: 64px;
  color: var(--navbar-text-color);
}

.navigation-bar a:hover {
  filter: brightness(0.8);
  background-color: var(--navbar-background-hover);
}

.logo {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 4.2rem;
  text-shadow: -0.6px 0 black, 0 0.6px black, 0.6px 0 black, 0 -0.6px black;
  font-weight: bolder;
  margin: auto;
  padding: 0 6px;
}

.tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.instructions-btn {
  width: 40px;
  height: 44px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

/* Mobile Styles */
@media screen and (max-width: 650px) {
}

/* Desktop Styles */
@media screen and (min-width: 651px) and (max-width: 1023px) {
}
