/*Variables */

:root {
  --grey: rgb(140, 140, 140);
  --yellow: rgb(209, 177, 1);
  --green: rgb(35, 166, 76);
  --higherColor: rgb(150, 41, 41);
  --lowerColor: rgb(67, 67, 96);
  --textColorWhite: rgb(255, 255, 255);
  --textShadowNumbers: -0.6px 0 black, 0 0.6px black, 0.6px 0 black,
    0 -0.6px black;
  --digitsHeight: 78px;
}

.game-container {
  display: flex;
  justify-content: center;
  user-select: none;
}

.gameboard {
  height: 100%;
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline {
  margin: 2px 0 0 0;
  width: 360px;
  margin: auto;
}

.instructions {
  margin: 2px 0;
  font-size: 1.8rem;
  text-align: center;
  border-bottom: 2px solid black;
}

.hint-caption {
  margin: 2px 0;
  text-align: right;
  padding-right: 2.5%;
  margin-bottom: -5px;
  font-size: 1.6rem;
}

.current-row .digit,
.current-row .hint {
  border: 2px solid rgb(45, 45, 45);
}

.previous-row .digit,
.previous-row .hint {
  border: 2px solid rgb(45, 45, 45);
}

.new-row.next-digit,
.new-row.hint,
.new-row.current-digit {
  transition: border 1s 0.4s;
}

.digits-2 .new-row {
  transition-delay: 0.3s;
}

.digits-3 .new-row {
  transition-delay: 0.45s;
}

.digits-4 .new-row {
  transition-delay: 0.6s;
}

.digits-5 .new-row {
  transition-delay: 0.75s;
}

.digits-6 .new-row {
  transition-delay: 0.9s;
}

.digits-7 .new-row {
  transition-delay: 1.05s;
}

.rows span {
  display: flex;
  justify-content: center;
  margin: 4px 0;
}

.digits {
  display: flex;
  width: 100%;
}

.digit {
  text-align: center;
  line-height: var(--digitsHeight);
  font-size: 5rem;
  font-weight: bold;
  width: 15%;
}

.digit,
.hint {
  border: 4px solid rgb(200, 200, 200);
  height: var(--digitsHeight);
  margin: 0 1px;
  max-width: 60px;
}

.hint {
  background-color: rgb(225, 225, 225);
  margin: 0 0 0 6px;
  width: 60px;
  min-width: 52px;
}

.current-digit {
  border: 4px solid rgb(45, 45, 45) !important;
  transition: 0.1s;
}

.previous-digit,
.next-digit {
  border: 2px solid rgb(45, 45, 45) !important;
  transition: 0.3s;
}

.previous-digit {
  animation: 0.1s 0s animateDigit !important;
}

@keyframes animateDigit {
  50% {
    background-color: rgb(240, 240, 240);
  }
}

/*Keyboard / number input */
.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboard > * {
  margin: 4px 0;
}

.keyboard.disabled button {
  pointer-events: none;
}

.number-inputs {
  display: flex;
  justify-content: center;
}

.number-inputs button {
  height: 70px;
  width: 30px;
  margin: 0 1px;
  border-radius: 6px;
  border: 1px solid rgb(178, 178, 178);
  font-size: 4.2rem;
  background-color: rgb(250, 250, 250);
  color: black;
}

.enter-guess {
  width: 288px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid rgb(178, 178, 178);
  font-size: 2rem;
  background-color: rgb(250, 250, 250);
  color: black;
}

.keyboard .backspace {
  background-image: url("../../public/images/game/backspace.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 32px;
  width: 36px;
}

/* Handles the animations for when a guess is entered. */
.keyboard .grey {
  transition: all 0.4s;
  transition-delay: 0.5s;
  color: var(--textColorWhite);
  text-shadow: var(--textShadowNumbers);
  background-color: var(--grey);
}

.keyboard .yellow {
  transition: all 0.4s;
  transition-delay: 0.5s;
  color: var(--textColorWhite);
  text-shadow: var(--textShadowNumbers);
  background-color: var(--yellow);
}

.keyboard .green {
  transition: all 0.4s;
  transition-delay: 0.5s;
  color: var(--textColorWhite);
  text-shadow: var(--textShadowNumbers);
  background-color: var(--green);
}

.rows .grey.higher,
.rows .grey.lower,
.rows .yellow.higher,
.rows .yellow.lower,
.rows .green.higher,
.rows .green.lower {
  animation-duration: 0.6s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.rows .grey.higher {
  animation-name: digits-grey-bounceUp;
}

.rows .grey.lower {
  animation-name: digits-grey-bounceDown;
}

.rows .yellow.higher {
  animation-name: digits-yellow-bounceUp;
}

.rows .yellow.lower {
  animation-name: digits-yellow-bounceDown;
}

.rows .green.higher {
  animation-name: digits-green-bounceUp;
}

.rows .green.lower {
  animation-name: digits-green-bounceDown;
}

@keyframes digits-grey-bounceUp {
  50% {
    border: 2px solid rgb(45, 45, 45);
    background-color: white;
    color: black;
    transform: rotateX(90deg) translateY(-50%);
  }
  51% {
    border: none;
    background-color: var(--grey);
    color: var(--textColorWhite);
    text-shadow: var(--textShadowNumbers);
  }
  100% {
    border: none;
    background-color: var(--grey);
    color: var(--textColorWhite);
    text-shadow: var(--textShadowNumbers);
    transform: rotateX(0deg);
  }
}

@keyframes digits-grey-bounceDown {
  50% {
    border: 2px solid rgb(45, 45, 45);
    background-color: white;
    color: black;
    transform: rotateX(90deg) translateY(50%);
  }
  51% {
    border: none;
    background-color: var(--grey);
    color: var(--textColorWhite);
    text-shadow: var(--textShadowNumbers);
  }
  100% {
    border: none;
    background-color: var(--grey);
    color: var(--textColorWhite);
    text-shadow: var(--textShadowNumbers);
    transform: rotateX(0deg);
  }
}

@keyframes digits-yellow-bounceUp {
  50% {
    border: 2px solid rgb(45, 45, 45);
    background-color: white;
    color: black;
    transform: rotateX(90deg) translateY(-50%);
  }
  51% {
    border: none;
    background-color: var(--yellow);
    color: var(--textColorWhite);
    text-shadow: var(--textShadowNumbers);
  }
  100% {
    border: none;
    background-color: var(--yellow);
    color: var(--textColorWhite);
    text-shadow: var(--textShadowNumbers);
    transform: rotateX(0deg);
  }
}

@keyframes digits-yellow-bounceDown {
  50% {
    border: 2px solid rgb(45, 45, 45);
    background-color: white;
    color: black;
    transform: rotateX(90deg) translateY(50%);
  }
  51% {
    border: none;
    background-color: var(--yellow);
    color: var(--textColorWhite);
    text-shadow: var(--textShadowNumbers);
  }
  100% {
    border: none;
    background-color: var(--yellow);
    color: var(--textColorWhite);
    text-shadow: var(--textShadowNumbers);
    transform: rotateX(0deg);
  }
}

@keyframes digits-green-bounceUp {
  50% {
    border: 2px solid rgb(45, 45, 45);
    background-color: white;
    color: black;
    transform: rotateX(90deg) translateY(-50%);
  }
  51% {
    border: none;
    background-color: var(--green);
    color: var(--textColorWhite);
    text-shadow: var(--textShadowNumbers);
  }
  100% {
    border: none;
    background-color: var(--green);
    color: var(--textColorWhite);
    text-shadow: var(--textShadowNumbers);
    transform: rotateX(0deg);
  }
}

@keyframes digits-green-bounceDown {
  50% {
    border: 2px solid rgb(45, 45, 45);
    background-color: white;
    color: black;
    transform: rotateX(90deg) translateY(50%);
  }
  51% {
    border: none;
    background-color: var(--green);
    color: var(--textColorWhite);
    text-shadow: var(--textShadowNumbers);
  }
  100% {
    border: none;
    background-color: var(--green);
    color: var(--textColorWhite);
    text-shadow: var(--textShadowNumbers);
    transform: rotateX(0deg);
  }
}

.hint.higher {
  animation-name: higher;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  transition: all 0.4s;
  background-image: url("../../public/images/game/upArrow.png");
  background-position: center center;
  background-size: auto 60px;
  background-repeat: no-repeat;
  background-color: var(--higherColor);
}

.hint.lower {
  animation-name: lower;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  transition: all 0.4s;
  background-image: url("../../public/images/game/downArrow.png");
  background-position: center center;
  background-size: auto 60px;
  background-repeat: no-repeat;
  background-color: var(--lowerColor);
}

@keyframes lower {
  0% {
    background-position: 50% -50%;
  }
  75% {
    background-position: 50% 75%;
  }
  100% {
    background-position: center center;
    border: none;
  }
}

@keyframes higher {
  0% {
    background-position: 50% 150%;
  }
  75% {
    background-position: 50% 25%;
  }
  100% {
    background-position: center center;
    border: none;
  }
}

.digit.equals {
  animation-name: equals;
  animation-duration: 0.4s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.hint.equals {
  animation-name: equals;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  background-image: url("../../public/images/game/equals.png");
  transition: all 0.4s;
  background-position: center center;
  background-size: auto 60px;
  background-repeat: no-repeat;
}

@keyframes equals {
  0% {
    background-position: 50% 50%;
    background-size: auto 10px;
  }
  50% {
    color: var(--textColorWhite);
    text-shadow: var(--textShadowNumbers);
    border: none;
  }
  75% {
    font-size: 7rem;
    background-position: 50% 25%;
    background-size: auto 100px;
  }
  100% {
    font-size: 5rem;
    background-position: center center;
    background-size: auto 60px;
    background-color: var(--green);
    color: var(--textColorWhite);
    text-shadow: var(--textShadowNumbers);
    border: none;
  }
}

/*Handle the keydown animation*/
.keydown {
  animation-name: keydown;
  animation-duration: 0.5s;
}

@keyframes keydown {
  0%,
  100% {
  }
  50% {
    filter: brightness(0.9);
  }
}

/*Error Messages */
.error-messages {
  position: absolute;
  inset: 250px 50% 0% 0%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

.error-message {
  opacity: 0;
  align-items: center;
  border-radius: 40px;
  margin: 4px;
  height: 40px;
  width: max-content;
  padding: 20px;
  font-size: 2.2rem;
  color: rgb(255, 255, 255);
  text-shadow: var(--textShadowNumbers);
  background-color: rgb(178, 60, 31);
  border: 2px solid rgb(0, 0, 0);
  animation: 1.5s errorMessageFade;
  display: flex;
  align-items: center;
}

@keyframes errorMessageFade {
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
}

.error-animation {
  animation: 0.6s error-animation;
}

@keyframes error-animation {
  0% {
    padding-right: 0px;
    padding-left: 0px;
  }
  14.3% {
    padding-right: 10px;
    padding-left: 0px;
  }
  28.6% {
    padding-right: 0px;
    padding-left: 10px;
  }
  42.9% {
    padding-right: 10px;
    padding-left: 0px;
  }
  57.1% {
    padding-right: 0px;
    padding-left: 10px;
  }
  71.4% {
    padding-right: 10px;
    padding-left: 0px;
  }
  85.7% {
    padding-right: 0px;
    padding-left: 10px;
  }
  100% {
    padding-right: 0px;
    padding-left: 0px;
  }
}

/*Styles used on the reset game button */
.reset-game {
  margin: 20px 0;
}

/* Mid-size Styles */
@media screen and (min-width: 410px) and (max-width: 510px) {
  .gameboard {
    width: 410px;
  }
  .number-inputs button {
    width: 32px;
    margin: 0 2px;
  }
  .keyboard .backspace {
    width: 38.4px;
  }
}

/* Mid-size Styles */
@media screen and (min-width: 510px) and (max-width: 620px) {
  .gameboard {
    width: 510px;
  }
  .number-inputs button {
    width: 40px;
    margin: 0 2px;
  }
  .keyboard .backspace {
    width: 48px;
  }
}

/* Desktop Styles */
@media screen and (min-width: 620px) {
  .gameboard {
    width: 620px;
  }
  .number-inputs button {
    width: 40px;
    margin: 0 2px;
  }
  .keyboard .backspace {
    width: 48px;
  }
}
